<header class="header">
    <nav class="navbar navbar-expand-lg bg-white shadow-sm rounded">
        <div class="container-fluid">
            <!-- Логотип -->
            <a class="navbar-brand" href="/">
                <img src="assets/logo.png" alt="Логотип" width="200" height="70">
            </a>

            <!-- Кнопка для мобильных -->
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent"
                    aria-controls="navbarContent"
                    aria-expanded="false"
                    aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Основное содержимое -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <!-- Центрированное меню -->
                <div class="flex-grow-1 d-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <div class="nav-icon"><i class="fi fi-rr-home"></i></div>
                                <span>Главная</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="products" routerLinkActive="active">
                                <div class="nav-icon"><i class="fi fi-rr-basket-shopping-simple"></i></div>
                                <span>Товары</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="categories" routerLinkActive="active">
                                <div class="nav-icon"><i class="fi fi-rr-apps"></i></div>
                                <span>Категории</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="about" routerLinkActive="active">
                                <div class="nav-icon"><i class="fi fi-rr-book-alt"></i></div>
                                <span>О нас</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Блок авторизации -->
                <div class="auth-section">
                    @if (authService.isAuthenticated()) {
                        <div class="user-info">
                            <span>{{authService.getAuthUser()?.username}}</span>
                        </div>
                    }
                    @else {
                        <button class="btn btn-outline-primary" routerLink="auth">Войти</button>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>