<header class="d-flex flex-wrap align-items-center justify-content-center py-2 p-5 | shadow-sm p-3 bg-white rounded">
	<div class="col-md-3 mb-2 mb-md-0">
		<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="bi" width="200" height="70" role="img" aria-label="Bootstrap" src="assets/logo.png">
        </a>
	</div>
	<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-link-container"
            [routerLink]="['']">
            <i class="fi fi-rr-home"></i>
            <a class="nav-link">Главная</a>
        </li>
        <li class="nav-link-container"
            [routerLink]="['products']">
            <i class="fi fi-rr-basket-shopping-simple"></i>
            <a class="nav-link">Товары</a>
        </li>
		<li class="nav-link-container"
            [routerLink]="['categories']">
            <i class="fi fi-rr-apps"></i>
            <a class="nav-link">Категории</a>
        </li>
		<li class="nav-link-container"
            [routerLink]="['about']">
            <i class="fi fi-rr-book-alt"></i>
            <a class="nav-link">О нас</a>
        </li>
	</ul>

    <div class="col-md-3 text-end">
        @if (authService.isAuthenticated()) {
            <div>{{authService.getAuthUser()?.username}}</div>
        }
        @else {
            <button routerLink="auth" type="button" class="btn btn-outline-primary me-2">Войти</button>
        }
    </div>
<!--	<div class="col-md-3 dropdown text-end">-->
<!--		<a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"><span class="profile-name">Дмитрий Л.</span><img src="assets/avatar.png" alt="Профиль" width="40" height="40" class="rounded-circle"></a>-->
<!--	</div>-->
</header>