<div class="container">
    <div class="dashboard-grid">
        <div class="dashboard-card">
            <div class="card-icon">
                <i class="fi fi-rr-basket-shopping-simple"></i>
            </div>
            <h3 class="card-title">Товары</h3>
            <a routerLink="products" class="card-link">Перейти</a>
        </div>

        <div class="dashboard-card">
            <div class="card-icon">
                <i class="fi fi-rr-apps"></i>
            </div>
            <h3 class="card-title">Категории</h3>
            <a routerLink="categories" class="card-link">Перейти</a>
        </div>

        <div class="dashboard-card">
            <div class="card-icon">
                <i class="fi fi-rr-boxes"></i>
            </div>
            <h3 class="card-title">Остатки</h3>
            <a routerLink="stock-records" class="card-link">Перейти</a>
        </div>

        <div class="dashboard-card">
            <div class="card-icon">
                <i class="fi fi-rr-warehouse-alt"></i>
            </div>
            <h3 class="card-title">Склады</h3>
            <a routerLink="stock-holders" class="card-link">Перейти</a>
        </div>

        <div class="dashboard-card">
            <div class="card-icon">
                <i class="fi fi-rr-book-alt"></i>
            </div>
            <h3 class="card-title">О нас</h3>
            <a routerLink="about" class="card-link">Перейти</a>
        </div>
    </div>
</div>